@import '~@axieinfinity/dango/dist/styles/scss/common.scss';
@import '~@axieinfinity/dango/dist/styles/scss/colors/index.scss';
@import '~@axieinfinity/dango/dist/styles/scss/theme.scss';
@import '~@axieinfinity/dango/dist/styles/scss/utilities.scss';

@import '~@axieinfinity/dango/dist/styles/scss/root.scss';
@import '~@axieinfinity/dango/dist/styles/scss/reboot.scss';
@import '~@axieinfinity/dango/dist/styles/css/dango.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
